body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
    main
*/

#navigation-box {
    width: 100%;
    height: 20px;
}

#scene-box {
    margin-top: 5px;
    width: 60%;
    height: 90%;
}

#scene-frame {
    width: 100%;
    height: 90%;
}

#evals-box {
    width: 39.5%;
    height: 90%;
    margin-top: 5px;
    overflow-y: hidden;
}

#evals-frame {
    max-height: 97%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#evals-collapsed {
    padding-top: 2px;
}

#helper {
    width:100%;
    height:99%;
    position: absolute;
    pointer-events: none;
}

/*
    other
*/

.checkbox-input {
    height: 10px;
    margin: 5px;
}

.checkbox-text {
    font-size: 10px;
    padding: 5px 10px 5px 0px;
}

.title-bar {
    height: 21px;
    border-bottom: 5px solid #f2f2f2;
    width: 100%;
    background-color: white;
}

.title {
    font-size: 12px;
    padding: 5px;
    height: 15px;
}

/*
    basic types
*/

svg {
    border-bottom: 3px solid #f2f2f2;
}

svg:hover {
    //border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

/*
    attributes
*/

.outlined {
    border: 1px solid black;
}

.hidden {
    visibility: hidden;
}

.collapsed {
    display: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.color-default {
    background-color: white;
}

.tag {
    font-size: 8px;
    position: absolute;
    overflow: hidden;     
}

.settings {
    font-size: 8px;
    padding: 4px;
    color: white;
    background-color: black;
    right: 0;
    margin: 2px 30px 0px 0px;
    position: fixed;
}

.settings:hover {
    background-color: grey;
}

.settings-box {
    background-color: black;
    position: fixed;
    height: 100px;
    width: 100px;
}

.tag:hover {
    z-index: 10;
    background-color: #f2f2f2;
    opacity: 0.9;
}

.info {
    width: 200px;
    height: 300px;
    position: relative;
    top: 10px;
    z-index: 10;
}
